.inbox {
    width: 348px;
    height: 916px;
    position: relative;
    top: 90px;
    left: 92px;

    color: #000000;

}

hr {
    width: 348px;
    height: 0px;
    top: 294px;
    left: 152px;
    opacity: 0.64;
    border-width: 2px;

}

.width {
    width: 100%;

}

.option {
    width: 194px;
    height: 109px;
    position: relative;
    top: 45px;
    left: 119px;
    opacity: 1;
    border-radius: 11px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 7px;
    z-index: 5;
}

.option p {
    color: #000000;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0%;

}

#chat {
    width: 170px;
}

.headerInbox {
    width: 282px;
    height: 38px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 18px;
}

.headerInbox ul li {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    color: #858997;
}

.headerInbox ul li:hover {
    background-color: #2BBEF9;
    color: white;
    border-radius: 12px;
    width: 100px;
    height: 30px;
}

.searchInobox {
    position: relative;
    width: 282px;
    height: 40px;

}

.searchInobox input {
    padding-left: 35px;
    border: 1px solid grey;
}

.searchInobox svg {
    position: absolute;
    left: 10px;
    top: 7px;
}

.inboxCard {
    width: 283px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 16px;
}

.innerCard {
    width: 282px;
    height: 54px;
    display: flex;
    flex-direction: row;
    gap: 7px;

}

.innerCard img {
    width: 41px;
    height: 41px;
    border-radius: 42px;

}

.detail {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.detail h3 {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 1%;
    text-transform: capitalize;
    color: #000000;

}

.detail p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 1.5%;
    text-transform: capitalize;
    color: #00000099;

}

.innerCard h6 {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 8px;
    line-height: 100%;
    letter-spacing: 9.5%;
    text-align: right;
    text-transform: capitalize;
    opacity: .6;
    color: #000000;
}

.section {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 370px;
    top: 100px;
}

.inboxSection {
    width: 787px;
    height: 791px;
    border: 1px solid grey;
    padding: 25px;
}

.left {
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: absolute;
    right: 30px;
    top: 50px;

}

.mobCard {
    display: flex;
    flex-direction: row;
    gap: 12px;
    position: relative;
    z-index: 4;
    margin-top: 10px;
}

.mobCard img {
    width: 60px;
    height: 60px;
    border-radius: 10px;

}

.buttonAdd {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    left: 350px;
}

.btnAdd {
    background-color: #2BBEF9;
    color: white;
    width: 91px;
    height: 38px;
    border-radius: 70px;
    border: none;

}

.usman {

    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    padding: 12px 0;
}

.usman p {
    color: #000000;
    background-color: #EFEFFE;
    width: auto;
    font-size: 12px;
    font-family: "Poppins";
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.usman img {
    width: 35px;
    height: 35px;
    border-radius: 62px;

}

.gap {
    padding-left: 47px;
}

.message {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.man {
    display: flex;
    flex-direction: row;
    justify-content: right;
    position: relative;
    gap: 12px;
    align-items: center;
    padding: 12px 0;
}

.man img {
    width: 35px;
    height: 35px;
    border-radius: 62px;
}

.man p {
    text-align: right;
    color: #000000;
    background-color: #EFEFFE;
    width: auto;
    font-size: 12px;
    font-family: "Poppins";
    display: flex;
    flex-direction: row;
    gap: 30px;

}

.p {
    margin-right: 50px;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 100px;
}

.btnQ {
    width: 338px;
    height: 48px;
    border-radius: 68px;
    color: white;
    background-color: #333333;
    border: none;

}

.btnO {
    width: 339px;
    height: 48px;
    border-width: 0.2px;
    border-radius: 68px;
    border: none;
    color: #aca4a4;
}

.files {
    width: 694px;
    height: 51px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
    align-items: center;
}

.typeM {
    position: relative;
}

.typeM input {
    width: 639px;
    height: 51px;
    border-radius: 27px;
    border: 2px solid #888080D9;
    padding-left: 32px;
}

.typeM svg {
    position: absolute;
    right: 33px;
    top: 14px;
}


