.carsidebar {
    width: 231px;
    position: relative;
    top: 75px;
    left: 72px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #FFFFFF;
}

.Pak {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15.96px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #002F34;
    margin: 15px 0;
    padding-left: 10px;
}

.year h1 {
    font-family: 'Poppins';
    font-weight: 700;
    font-style: Bold;
    font-size: 12px;
    line-height: 23.94px;
    letter-spacing: 0%;
    vertical-align: middle;
    text-transform: capitalize;
    color: #002F34;
}

.No {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-right: 20px;
    margin-top: 22px;
}

.No h2 {
    width: 103px;
    height: 40px;
    max-height: 40px;
    top: 1256px;
    left: 155px;
    border-bottom-width: 1px;
    padding-bottom: 1px;
    padding-left: 12px;
    background-color: #F7F8F8;
    border-bottom: 1px solid #002F34;
    display: flex;
    align-items: center;
    justify-content: start;
}

.year h3 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12.04px;
    line-height: 18.06px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #194448;
}

.year input {
    width: 100%;
}


.List {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 11px;
    line-height: 21px;
    letter-spacing: 0%;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: start;
    color: #002F34A3;

}

.pakistan h1 {
    margin: 15px 0;
}

.List input[type="checkbox"] {
    width: 24px;
    height: 24px;
    top: 1319.92px;
    left: 169px;
    opacity: 1;
    border-radius: 4px;
    border-width: 1px;
    color: #002F34;
}

.List label {
    margin-top: 5px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #002F34A3;
    display: flex;
    gap: 10px;
}

.popular {
    margin-top: 120px;
}