.Log{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 90px auto;


padding: 20px;

}
.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.Log h1{
    font-size: 1.3rem;
text-align: center;
font-family: "Poppins";
margin-bottom: 10px;
}
.email, .password, .button, .username , .conPassword{
    display: flex;
    flex-direction: column;
    width: 100%;

}
input{
    border: 1px solid #e9c0c0;
    padding: 9px;
    border-radius: 7px;
}
label{
    color: black;
    font-size: 1rem;
    font-weight: 500;
}
.btnSign{
    background-color: #2BBEF9;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: 600;
}
.SignUp h1{
font-size: 1rem;
}
















