 .footer{
width: 100%;
height: 246px;
    background-color: #141821;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
position: relative;
bottom: 0;
margin-top: -4px;
}
.vector{
    position: absolute;
left: 18.12%;
right: 76.53%;
top: 61.78%;
bottom: 33.58%;
background: #FFFFFF;
}

.ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
}
.white{
    color: #FFFFFF;
}
.brown{
    color: #B8B8B8;
}
.email{
    color: #2BBEF9;
}
.disflx{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
/* hr{
    width:1310px;
    border: 10px solid #B8B8B8;
  
} */
.divider {
    border: none;         
    height: 1px;          
    background-color: #B8B8B8;
    width: 100%;         
    margin: 0 0 20px 0; 
}

.hr{
    background-color: #141821;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;

}
.hr p{
    font-family: 'Poppins';
font-weight: 400;
font-size: 12px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
color: #FFFFFF;

}
