
.logo {
    width: 86px;
    height: 25.29px;
}

/* ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

li {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}  */

.search {
    display: flex;
    align-items: center;
    border-radius: 0 70px 70px 0;
    position: relative;
    width: 40vw;
    height: 6vh;
    right: 30px;
    padding-left: 3vw;
    border: 1px solid #2BBEF9;
}
@media (max-width:440px){
  .search {
    position: relative;
    width: 75vw;
right: 20px;
    padding-left: 8vw;
    font-size: 12px;
}
.searchBlack {
    position: absolute;
left: 124vw;
}
.logo {
    margin-left: 100px;
}


}
.searchBlack {
    position: absolute;
    right: 245px;
    top: 12px;
}

.login {
    width: 5.5vw;
    height: 5.5vh;
    border-radius: 70px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;

}

.log {
    margin-right: 10px;
}

.sell {
    width: 5.5vw;
    height: 5.5vh;
    color: white;
    background-color: #2BBEF9;
    border-radius: 70px;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
}
