.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 30px 20px;
}

.logo {
    width: 86px;
    height: 25.29px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

li {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.leftHeader {
    position: relative;
}

.text {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.text {
    background-color: #2BBEF9;
    width: 231px;
    height: 48px;
    border-radius: 70px 70px 70px 70px;
    border: none;
    display: flex;
    justify-content: center;
    gap: 12px;
    align-items: center;

}

.vect {
    position: absolute;
    top: 21px;
    left: 188px;
    width: 12px;
    height: 6px;
    color: #FFFFFF;
    display: flex;
    align-items: center;

}

.search {
    display: flex;
    align-items: center;
    border-radius: 0 70px 70px 0;
    position: relative;
    width: 621px;
    height: 48px;
    right: 20px;
    padding-left: 15px;
    border: 1px solid #2BBEF9;
}

.searchBlack {
    position: absolute;
    right: 225px;
    top: 12px;
}

.login {
    width: 91px;
    height: 38.4px;
    border-radius: 70px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;

}

.log {
    margin-right: 10px;
}

.sell {
    width: 91px;
    height: 38.4px;
    color: white;
    background-color: #2BBEF9;
    border-radius: 70px;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7px;
}