@import "tailwindcss";
.phoneCategory {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 20px 0 10px 110px;
}

.view {
    display: flex;
    justify-content: space-around;
    margin-top: 120px;
    margin-bottom: 40px;
    position: relative;

}
/* .cards .mobileCard .content{
   padding: 5px 10px;
} */

.view h2 {
    position: absolute;
    left: 120px;
}

.view h3 {
    position: absolute;
    right: 160px;
    font-size: 15px;
}

/* .cards {
    display: flex;

    gap: 20px;
} */

/* .mobileCard {
    position: relative;
    width: 256px;
    height: 325px;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
} */

/* .mobile {
    width: 100%;
    height: 177px;
    border-radius: 12px 12px 0 0;
} */

/* .mobileCard h6 {
    position: absolute;
    top: 13px;
    right: 13px;
    background: black;
    color: white;
    padding: 5px 12px;
    border-radius: 12px;
} */

.phoneCategory h6 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 13px;
    top: 13px;
    width: 66.1px;
    height: 23.95px;
    border-radius: 12.5px;
    color: white;
    background-color: #000000;
}

.phoneCategory h2 {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;

}

.phoneCategory h3 {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;

}



/* .mobileCard h3 {
    width: 214.58px;
    height: 44px;

    font-family: "Poppins";
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0px;
    color: #141821;
} */

/* .mobileCard h4 {
    width: 215.53px;
    height: 24px;

    font-family: "Poppins";
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #858997;
} */

/* .mobileCard p {
    width: 216px;
    height: 15px;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
} */



/* .price h2 {
    width: 107.29px;
    height: 21.07px;

    font-family: "Poppins";
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0px;
    color: #000000;
} */



/* .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */


.partner {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 12px 20px 12px 5px;
}

.cartner {
    width: 112.37px;
    height: 51.86px;
}

.facebook {
    width: 112.37px;
    height: 42.27px;
}

.chanel {
    width: 112.37px;
    height: 83.21px;
}

.microsoft {
    height: 23.92px;
    width: 112.37px;
}

.hermes {
    width: 112.37px;
    height: 71.44px;
}

.dg {
    width: 112.37px;
    height: 68.13px;
}