.nav {
    font-size: 18px;
    cursor: pointer;
}

/* .categories {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    gap: 9px;
    align-items: center;
    margin: 50px 0 15px 110px;

}

.aroundCard {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 120.65px;
    height: 142px;
    position: relative;
    top: 100px;
 
} */

.phone,
.vicales,
.sale,
.rent,
.electronics,
.bike,
.business,
.service,
.job,
.animal,
.furniture,
.fashion,
.book,
.kid {
    border-radius: 50%;
    width: 105.65px;
    height: 105.65px;
}

.phone {
    background-color: #d394d3;
}

.vicales {
    background-color: #69BAFA;
}

.sale {
    background-color: #F6B742;
}

.rent {
    background-color: #B6F4FF;
}

.electronics {
    background-color: #A094F8;
}

.bike {
    background-color: #ED5659;
}

.business {
    background-color: #FED9FF;
}

.service {
    background-color: #B6F4FF;
}

.job {
    background-color: #FFC210;
}

.animal {
    background-color: #6BB07A;
}

.furniture {
    background-color: #E9F4F6;
}

.fashion {
    background-color: #C1E264;
}

.book {
    background-color: #D3D3D3;
}

.kid {
    background-color: #F9D7B0;
}

 h3 {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #000000;
    padding-top: 12px;

}
