.mobileCategory {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px auto;
    padding: 0 20px;

}

.card {
    width: 208.47px;
}

.phoneCard {
    position: relative;
    width: 208.47px;
    height: 315px;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    border-radius: 12px;

}
.section{
    margin-top: 130px;
    margin-left: 100px;
}
.mobile {
    width: 100%;
    height: 177px;
    border-radius: 12px 12px 0 0;
}

.mobileCategory h6 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 13px;
    top: 13px;
    width: 66.1px;
    height: 23.95px;
    border-radius: 12.5px;
    color: white;
    background-color: #000000;
}

.mobileCategory h2 {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;

}

.mobileCategory h3 {
    font-family: "Poppins";
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;

}



.phoneCard h3 {
    width: 175px;
    height: 16px;
    position: absolute;
    top: 184px;
    left: 12px;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 11px;
    line-height: 18px;
    letter-spacing: 0px;
    color: #222222;
}

.phoneCard h4 {
    width: 147px;
    height: 22px;
    position: absolute;
    top: 196px;
    left: 12px;

    font-family: "Poppins";
    font-weight: 400;
    font-size: 10px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #858997;
}

.phoneCard p {
    width: 65px;
    height: 14px;
    position: absolute;
    top: 219px;
    left: 12px;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
}

.Rs {
    display: flex;
    flex-direction: row;
    gap: 65px;
    align-items: center;
    position: absolute;
    left: 12px;
    top: 235px;
}

.Rs h2 {
    width: 87.24px;
    height: 16.53px;

    font-family: "Poppins";
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
    color: #141821;
}

/* .twoBtn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
} */
.callBtn {
    width: 93px;
    height: 35px;
    position: absolute;
    top: 267px;
    left: 12px;
    border-radius: 125px;
    opacity: 1;
    border: 1px solid #000000;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 10px;
    font-weight: 400;
    font-family: 'Poppins';
}

.heart {
    width: 17px;
    height: 14px;
}

.call {
    width: 13px;
    height: 14px;
}

.chatBtn {
    width: 92.7551040649414px;
    height: 34.8979606628418px;
    position: absolute;
    top: 267px;
    left: 110px;
    background-color: #2BBEF9;
    border-radius: 125px;
    border: none;
    color: white;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 10px;
    font-weight: 400;
    font-family: 'Poppins';

}

.chat {
    width: 15.61px;
    height: 13.72px;

}
.load{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 50px 40px 0;
}
.loadBtn{
    width: 93px;
height: 35px;
border: 1px solid #000000;
border-radius: 70px;
background-color: white;
font-size: 10px;
font-weight: 400;
font-family: 'Poppins';
}
.viewed{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #333333;
    margin-left: 20px;
}
.viewed span{
    color: #2BBEF9;
}
.searches{
    width: 528px;
height: 21px;
margin-left: 115px;
}
.searches h1{
    font-family: 'Poppins';
font-weight: 700;
font-style: Bold;
font-size: 14px;
line-height: 21px;
letter-spacing: 0%;
vertical-align: middle;
color: #002F34;

}
.searches span{
    font-family: 'Poppins';
font-weight: 400;
font-size: 14px;
line-height: 21px;
letter-spacing: 0%;
text-align: center;
vertical-align: middle;
color: #002F34A3;
padding-left: 12px;
}